@model KoodinenV1.Models.AdminViewModel
@{
    ViewData["Title"] = "KurssistaAloitetut";

}

<div class="card" style="padding: 20px; margin: 20px">
    @Model.Ohje.TekstiKentta @Html.ActionLink("Muokkaa", "MuokkaaOhje", "Admin")
</div>

@for (var i = 0; i < Model.Tehtävät.Count; i++)
{
    <div class="card" style="padding: 20px; margin: 20px">
        <h3>Tehtävä @(i+1).</h3>
        <p>
            @Model.Tehtävät[i].Kuvaus @Html.ActionLink("Muokkaa", "MuokkaaTehtava", "Admin", new {id = Model.Tehtävät[i].TehtavaId })
        </p>
    </div>
}