<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KoodinenV1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <span class="navbar-brand" onmouseover="openNav()"><img src="~/Images/KoodinenLogo.png" style="max-block-size: 60px"></span>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Etusivu" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:rgb(4, 115, 100)" asp-area="" asp-controller="Etusivu" asp-action="Index">Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:rgb(4, 115, 100)" asp-area="" asp-controller="Etusivu" asp-action="Kurssit">Kurssit</a>
                        </li>
                        @using Microsoft.AspNetCore.Http;
                        @{var id = Context.Session.GetInt32("id"); }
                        @if (id != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:rgb(4, 115, 100)" asp-area="" asp-controller="Kayttaja" asp-action="Profiili">Omat tiedot</a>
                            </li>
                        }
                        @if (id == null) 
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:rgb(4, 115, 100)" asp-area="" asp-controller="Rekisteröityminen" asp-action="Rekisteröityminen">Rekisteröidy</a>
                            </li>
                        }
                    </ul>
                    <div class="nav-right">
                        <ul class="navbar-nav flex-grow-1">
                            @if (id != null)
                            {
                                <li class="nav-right">
                                    <a class="nav-link" style="color:rgb(4, 115, 100)" asp-area="" asp-controller="Etusivu" asp-action="KirjautuminenUlos">Kirjaudu ulos</a>
                                </li>
                            }
                            @if (id == null)
                            {
                                <li class="nav-right">
                                    <a class="nav-link" style="color:rgb(4, 115, 100)" asp-area="" asp-controller="Etusivu" asp-action="Kirjautuminen">Kirjaudu sisään</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a>@Html.ActionLink("Esittely", "Esittely", "CSharpAlkeet")</a>
                <a>@Html.ActionLink("Oppitunti 1", "Oppitunti1_Teht1", "CSharpAlkeet")</a>
                <a>@Html.ActionLink("Oppitunti 2", "Oppitunti2", "CSharpAlkeet")</a>
                <a>@Html.ActionLink("Oppitunti 3", "Oppitunti3", "CSharpAlkeet")</a>
                <a>@Html.ActionLink("Oppitunti 4", "Oppitunti4", "CSharpAlkeet")</a>
                <a href="#">UKK</a>
            </div>

            <!-- Use any element to open the sidenav -->
            <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
            <div id="main">
                <script>
                    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                        document.getElementById("main").style.marginLeft = "250px";
                        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                    }

                    /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                        document.getElementById("main").style.marginLeft = "0";
                        document.body.style.backgroundColor = "white";
                    }
                </script>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - KoodinenV1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
