@model KoodinenV1.Models.Kayttaja
@{
    ViewData["Title"] = "KurssistaAloitetut";
    
}
@*<div style='float:right;'>Hello @Html.ActionLink(firstName, "Profiili", "Kayttaja", new { id = id })</div>
    <br />
    <div style='float:right;'>@Html.ActionLink("Kirjaudu ulos", "", "")</div>*@
@*<style>
    # oppitunti {
        font-weight: bold;
        display: inline;
    }
</style>*@
<h3>Kurssista @*@ViewBag.kurssinimi*@ aloitetut:</h3>

<br /><br />

<h6 style="color:blue;">Suoritetut oppitunnit</h6>
<ul>
    @foreach (var item in @ViewBag.tehdytoppit)
    {

        <li id="oppituntitehty">
            <strong>@item.Nimi:</strong> @item.Kuvaus
        </li>
        @*@foreach (var teht in ViewBag.tehdytteht)
        {
            if (teht.OppituntiId == item.OppituntiId)
            {
                <li id="tehtytehtävä">
                    @teht.Nimi:@teht.Kuvaus
                </li>
            }
        }*@
    }
    <br />

</ul>
<h6 style="color:blue;">Keskeneräiset oppitunnit</h6>
<ul>
    @foreach (var item in @ViewBag.keskenoppit)
    {

        <li id="oppituntikesken">
            <strong>@item.Nimi:</strong> @item.Kuvaus
        </li>

        @*@foreach (var teht in ViewBag.keskenteht)
        {
            if (teht.OppituntiId == item.OppituntiId)
            {
                <li id="tehtytehtävä">
                    @teht.Nimi:@teht.Kuvaus
                </li>
            }
        }*@
    }
    <br />
</ul>

<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.KayttajaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>