@model KoodinenV1.Models.Kayttaja
@{
    ViewData["Title"] = "KurssistaSuoritetut";
    
}
@*<div style='float:right;'>Hello @Html.ActionLink(firstName, "Profiili", "Kayttaja", new { id = id })</div>
    <br />
    <div style='float:right;'>@Html.ActionLink("Kirjaudu ulos", "", "")</div>*@
@*<style>
    # oppitunti {
        font-weight: bold;
        display: inline;
    }*@
</style>
<h3>Kurssista @ViewBag.kurssinimi aloitetut:</h3>

<h6 style="color:blue;">Oppitunnit</h6>
<ul>
    @foreach (var item in ViewBag.kaikkioppit)
    {
        <ul id="oppitunti">
            <li>
                <strong>@item.Nimi:</strong> @item.Kuvaus
            </li>
        </ul>

    }

</ul>
<h6 style="color:blue;">Tehtävät</h6>
<ul>
    @foreach (var item in ViewBag.kaikkiteht)
    {
        <ul id="oppitunti">
            <li>
                <strong>@item.Nimi:</strong> @item.Kuvaus
            </li>
        </ul>
    }
</ul>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.KayttajaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>