@model KoodinenV1.Models.Kayttaja

@{
    ViewData["Title"] = "Profiili";
    var suoritetut = ViewBag.suoritetut;
    var kesken = ViewBag.kesken;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h3>Profiili</h3>

<div>
    <h4>Opiskelija</h4>
    <hr />
    @if(ViewBag.Viesti != null)
            {
                <h6 style="color: red">@ViewBag.Viesti</h6>
            }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<table>
    <tr>
        <td>
            <div>
                <a class="btn btn-outline-primary" asp-action="Muokkaa" asp-route-id="@Model.KayttajaId">Muokkaa</a>
            </div>
        </td>
        <td>
            <div>
                <a class="btn btn-outline-primary" asp-action="SalasananVaihto" asp-route-id="@Model.KayttajaId">Vaihda salasana</a>
            </div>
        </td>
    </tr>
</table>
<br />
<br />
@*<h6 font="bold">Kurssisuoritukset</h6>
    <br />
    <ul>
        @foreach (var item in kurssisuoritukset)
        {

            <li>
                @item.Kurssi.Nimi
            </li>


            <li>
                @item.KurssiId
            </li>


            <li>
                @item.KurssiSuoritusId
            </li>

            <li>
                @item.SuoritusPvm
            </li>

        }


    </ul>*@


