@model KoodinenV1.Models.Kayttaja

@{
    ViewData["Title"] = "Profiili";
    var suoritetut = ViewBag.tehdyt;
    var kesken= ViewBag.kesken;

}

<h3>Profiili</h3>

<div>
    <h4>Opiskelija</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<br />
<br />
<div>
    <a asp-action="Muokkaa" asp-route-id="@Model.KayttajaId">Muokkaa</a>
</div>
<br />
<br />
<h6 font="bold">Kurssisuoritukset</h6>
<br />
<ul>
    @foreach (var item in suoritetut)
    {

        <li>
            @item.Kurssi.Nimi
        </li>


        <li>
            @item.KurssiId
        </li>


        <li>
            @item.KurssiSuoritusId
        </li>

        <li>
            @item.SuoritusPvm
        </li>

    }
    @*@foreach (var item in kesken)
    {

        <li>
            @item.Nimi
        </li>


        <li>
            @item.KurssiId
        </li>

        <li>
            @item.Kesken
        </li>

    }*@

</ul>


