
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Oppitunti3";
}

<h1>Oppitunti 3</h1>
<hr />

<p>
    @ViewBag.Ohjeistus
</p>
<p>
    Lataa kurssin tehtävät <a href="https://funcstorkoodinen.blob.core.windows.net/oppitunti-container/Koodinen_Oppitunti3.zip">tästä</a>
    Lataa Visual Studio <a href="https://visualstudio.microsoft.com/">tästä</a>
</p>

@for (var i = 0; i < ViewBag.Tehtävät.Count; i++)
{
    <div class="card" style="padding: 20px; margin: 20px">
        <p>
            Tehtävä @(i+1). @ViewBag.Tehtävät[i]
        </p>
    </div>
}

<button class="btn btn-outline-primary" style="margin-left:20px">@Html.ActionLink("Rekisteröi oppitunti", "RekisteröiOppitunti", null, new { opId = 11, sivuNro = 3 })</button>
<p>
    @if (ViewBag.OpViesti != null)
    {
        <a style="color:red">@ViewBag.OpViesti</a>
    }
</p>
